
<table>
    <tr>
      <th>Date</th>
      <th>Operation</th>
    </tr>
    <tr>
      <td>12/06/2016</td>
      <td>Sent 120$</td>
    </tr>
    <tr>
      <td>11/09/2018</td>
      <td>Received 100$</td>
    </tr>
    <tr>
      <td>30/01/2020</td>
      <td>Payed Bill N:12345</td>
    </tr>
    <tr>
        <td>12/06/2016</td>
        <td>Sent 120$</td>
    </tr>
    <tr>
        <td>11/09/2018</td>
        <td>Received 100$</td>
    </tr>
    <tr>
        <td>30/01/2020</td>
        <td>Payed Bill N:12345</td>
    </tr>
  </table>
  
  
  