
<div class="container border-brown">
  <div class="container">
		<!--div class="creancier">
			<img src="../../../assets/maroc-telecom.jpg" alt="Créancier 1">
      <div class="description">
        <a routerLink="/home/paiement/form"><h2 class="nom-creancier">IAM RECHARGES</h2></a>
			<p>Téléphone</p>
			</div>
			
		</div-->
		
		
    <div class="container">
		<div class="creancier">
            <img src="../../../assets/REDAL.jpg" alt="Créancier 2">
			<div class="description">
				<a (click)="setId(1)" routerLink="/home/paiement/form" ><h2 class="nom-creancier">REDAL</h2></a>
				<p>Factures Redal</p>
			</div>
		</div>
		<div class="creancier">
			<img src="../../../assets/amendis.png"  alt="Créancier 3">
			<div class="description">
        <a (click)="setId(2)" routerLink="/home/paiement/form" >  <h2 class="nom-creancier">AMENDIS</h2> </a>
				<p>Factures amendis Marrakech</p>
			</div>
		</div>
		
		<div class="creancier">
			<img src="../../../assets/maroc-telecom.jpg"  alt="Créancier 4">
			<div class="description">
        <a (click)="setId(3)" routerLink="/home/paiement/form" ><h2 class="nom-creancier">IAM FACTURES</h2></a>
				<p>Téléphonie et internet SIM</p>
			</div>
		</div>
	</div>

	</div>
