<!--div class="profile">
    <h1>les informations Personnelles</h1>
    <div class="special">
        <div class="labels">
            <label for="fname">First Name  </label><br><br>
            <label for="lname">Last Name  </label><br><br>
            <label for="rib">RIB  </label><br><br>
            <label for="cin">CIN </label><br><br>
            <label for="mail">Email  </label><br><br>
            <label for="phone">Phone Number </label><br><br>
        </div>
        <div class="inputs">
            <input type="text" id="fname" name="fname" value="CHAIMA" readonly><br>
            <input type="text" id="lname" name="lname" value="BOUSSETTA" readonly><br>
            <input type="text" id="rib" name="rib" value="123456789012" readonly><br>
            <input type="text" id="cin" name="cin" value="E1234" readonly><br>
            <input type="email" id="mail" name="mail" value="chaimaboussetta113@gmail.com" readonly><br>
            <input type="text" id="phone" name="phone" value="06 33 45 22 13" readonly><br>
        </div>
        
        
    </div>
</div-->

<div class="profile">
    <h1>les informations Personnelles</h1>
    <div class="special">
        <div class="labels">
            <label for="fname">First Name  </label><br><br>
            <label for="lname">Last Name  </label><br><br>
            <label for="balance">Balance </label><br><br>
            <label for="email">Email  </label><br><br>
            <label for="phone">Phone Number </label><br><br>
        </div>
        <div class="inputs">
            <input type="text" id="fname" name="fname" [(ngModel)]="client.firstname" readonly><br>
            <input type="text" id="lname" name="lname" [(ngModel)]="client.lastname" readonly><br>
            <input type="text" id="balance" name="balance" [(ngModel)]="compte.balance" readonly><br>
            <input type="email" id="mail" name="mail" [(ngModel)]="client.email" readonly><br>
            <input type="text" id="phone" name="phone" [(ngModel)]="client.phone" readonly><br>
        </div>
        
        
    </div>
</div>


