.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.search-bar {
  display: flex;
  margin-bottom: 10px;
}
.search-input {
  flex: 1;
  margin-right: 10px #8B4513;
  padding: 5px;
}
.search-button {
  padding: 5px 10px;
}
.result-list {
  list-style-type: none;
  padding: 0;
}
.result-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
.border-brown {
  border: 1px solid brown;
  padding: 20px;
 
}

.btn-brown {
  color: #8B4513;
  border-color: #8B4513;
}
.list {
  text-align: left;
  width: 100%;
  height: auto;
 
 
}

.form-control{
margin-bottom: 5px;
width: 200px;
height: 28px;
background: transparent;
outline: none;
border-top:hidden;
border-left: hidden;
border-right: hidden;
border-bottom: 1.5px solid #48C8F1;
color: black;
font-size: 14px;
padding-left:5px ;
}
.col-md-8{
display: flex;
}

