.container{
    width: 90%;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

}
.second{
    margin-left: 100px;
}
div.linetop { border-top: 1px solid #111111; }