<div class="login-page">
    <mat-card class="mat-elevation-z12">
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Page de connexion">
                    <h1> </h1>
                    <form  name="form" (ngSubmit)="f.form.valid && onSubmit()"  #f="ngForm" novalidate>
                            <input type="text"
                            matInput placeholder="Email" required name="email"  [(ngModel)]="form.email" #email="ngModel">
                            <input type="password"
                            matInput placeholder="Password" required minlength="6" type="password" name="password" [(ngModel)]="form.password" #password="ngModel">
                            <a routerLink="/change">Changer le mot de passe </a>
                            <button mat-raised-button color="primary" class="login-button">se connecter</button>
                        <div class="form-group">
                            <div
                              class="alert alert-danger"
                              role="alert"
                              *ngIf="f.submitted && isLoginFailed"
                            >
                              Login failed: {{ errorMessage }}
                            </div>
                          </div>
                    </form>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
